*.class

# Mobile Tools for Java (J2ME) #
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.original

# Ignore .bat files #
*.bat

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml #
hs_err_pid*

# Folders #
target/
.sonar/
.scannerwork/

# sonar scanner files #
sonar-project.properties
start_sonar_scanner.bat

# Ignore nbprojects #
/DatabaseLibrary/nbprojects
/nbproject/